html, body{
    margin: 0;
    background: #eee;
    padding-left: 30px;
}

.faq{
    padding: 30px;
    max-width: 600px;
}

.item{
    margin: 20px 0;
}

.item .ask{
    font-size: 30px;
    margin-bottom: 10px;
    cursor: pointer;
}

.item .answer{
    background: #ff0;
    overflow: hidden;
    display: none;
    padding: 0 15px;
}